{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio - AdoptPets{% endblock %}

{% block content %}
<section id="adoptpets">
    <div class="img-contenedor">
        <h1>AdoptPets</h1>
        <p>Adopta a tu alma gemelea</p>
    </div>
</section>

<section id="contactanos">
    <div class="contenedor">
        <div class="textocontacto">
            <div class="texto"></div>
            <h2>Contactanos</h2>
            <p>Estamos aquí para ayudar y responder
                cualquier pregunta que tengas,
                encontraremos la forma de responderla.
            </p>

            <p class="texto2">Otras formas de contactarnos</p>

            <ul class="texto3">
                <li>Telefono: 239812910010</li>
                <li>Correo: adopttpetts@example.com</li>
            </ul>
        </div>
        <div class="error">
            <a href="#" class="nav-link">Error de pagina</a>
        </div>
    </div>
</section>
{% endblock %}