{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/componentes.css' %}">
{% endblock %}

{% block content %}
<div class="auth-wrapper">
    <div class="auth-card">
        <h2 style="margin-bottom: 5px;">Nueva Contraseña</h2>
        <p style="text-align: center !important; color: #6b7280; font-size: 14px; margin-bottom: 30px !important;">
            Escribe tu nueva clave dos veces para confirmar.
        </p>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-submit" style="margin-top: 10px;">
                Actualizar Contraseña
            </button>
        </form>
    </div>
</div>
{% endblock %}